backend:
  name: github
  repo: quentinglorieux/leishman # Path to your GitHub repository
  commit_messages:
    create: Create - {{collection}} “{{slug}}”
    update: Update - {{collection}} “{{slug}}”
    delete: Delete - {{collection}} “{{slug}}”
    uploadMedia: Upload - “{{path}}”
    deleteMedia: Delete - “{{path}}”
    openAuthoring: "{{message}}"
  automatic_deployments: true

media_folder: nuxt-app/public/images
public_folder: /assets/images
show_preview_links: false

collections:
  - label: Documents
    name: documents
    folder: nuxt-app/content/documents
    media_folder: /nuxt-app/public/assets/documents 
    public_folder: /assets/documents
    create: true
    identifier_field: title
    fields:
      - { label: "Title", name: "title", widget: "string", required: true }
      - {
          label: "File",
          name: "file",
          widget: "file",
          required: true,
        }
  - label: Members
    name: members
    folder: nuxt-app/content/members
    media_folder: /nuxt-app/public/assets/members
    public_folder: /assets/members
    create: true
    identifier_field: lastname
    fields:
      - { label: "Nom", name: "lastname", widget: "string", required: true }
      - { label: "Prénom", name: "firstname", widget: "string", required: true }
      - {
          label: "Laboratoire",
          name: "laboratory",
          widget: "string",
          required: false,
        }
      - {
          label: "Featured Image",
          name: "thumbnail",
          widget: "image",
          required: false,
        }
      - {
          label: "Short Bio",
          name: "shortbio",
          widget: "markdown",
          required: false,
        }
      - { label: "Role", name: "role", widget: "string", required: false }
      - { label: "E-mail", name: "mail", widget: "string", required: false }
      - {
          label: "Coordinator ?",
          name: "coordinator",
          widget: "boolean",
          required: false,
        }
    summary: "{{lastname}} {{firstname}}"
    sortable_fields: [lastname]
  - label: Collaborations
    name: collaborations
    folder: nuxt-app/content/collaborations
    media_folder: /nuxt-app/public/assets/collaborations
    public_folder: /assets/collaborations
    create: true
    identifier_field: institution
    fields:
      - {
          label: "Institution",
          name: "institution",
          widget: "string",
          required: true,
        }
      - { label: "Link", name: "lien", widget: "string", required: false }
      - {
          label: "Featured Image",
          name: "image",
          widget: "image",
          required: false,
        }
  - label: On-going Projects
    name: projects
    folder: nuxt-app/content/projects
    media_folder: /nuxt-app/public/assets/projects
    public_folder: /assets/projects
    create: true
    identifier_field: title
    fields:
      - { label: "Titre", name: "title", widget: "string", required: true }
      - {
          label: "Description",
          name: "description",
          widget: "markdown",
          required: false,
        }
      - {
          label: "Featured Image",
          name: "image",
          widget: "image",
          required: false,
        }
  - label: News
    name: news
    folder: nuxt-app/content/news
    media_folder: /nuxt-app/public/assets/news
    public_folder: /assets/news
    create: true
    identifier_field: title
    fields:
      - { label: "Titre", name: "title", widget: "string", required: true }
      - {
          label: "Short Description",
          name: "shortdescription",
          widget: "string",
          required: false,
        }
      - {
          label: "Long Description",
          name: "longdescription",
          widget: "markdown",
          required: false,
        }
      - {
          label: "Featured Image",
          name: "image",
          widget: "image",
          required: false,
        }
      - {
          label: "date",
          name: "date",
          widget: "datetime",
          time_format: false,
          date_format: "DD:MM:YYYY",
          format: "DD/MM/YYYY",
          required: false,
        }
  - label: Publications
    name: publications
    folder: nuxt-app/content/publications
    create: true
    identifier_field: title
    fields:
      - { label: "Title", name: "title", widget: "string", required: true }
      - { label: "Authors", name: "authors", widget: "string", required: true }
      - { label: "Journal", name: "journal", widget: "string" }
      - { label: "Year", name: "year", widget: "string", required: false }
      - { label: "Volume", name: "volume", widget: "string", required: false }
      - { label: "DOI or link", name: "DOI", widget: "string", required: false }
      - { label: "PubMedId", name: "pmid", widget: "string", required: false }
  - label: Events
    name: events
    folder: nuxt-app/content/events
    media_folder: /nuxt-app/public/assets/events
    public_folder: /assets/events    
    create: true
    identifier_field: title
    fields:
      - { label: "Title", name: "title", widget: "string", required: true }
      - {
          label: "Location",
          name: "location",
          widget: "string",
          required: false,
        }
      - {
          label: "Description",
          name: "description",
          widget: "markdown",
          required: false,
        }
      - {
          label: "date",
          name: "date",
          widget: "datetime",
          time_format: false,
          date_format: "DD:MM:YYYY",
          format: "DD/MM/YYYY",
          required: false,
        }
      - { label: "Image", name: "image", widget: "image", required: false }
      - label: "Talk"
        name: "talk"
        widget: "list"
        required: false
        fields:
          - {
              label: "Speaker",
              name: "speaker",
              widget: "string",
              required: false,
            }
          - {
              label: "Title",
              name: "talktitle",
              widget: "string",
              required: false,
            }
          - {
              label: "Starting Time",
              name: "starttime",
              widget: "datetime",
              time_format: "HH:mm",
              default: "{{now}}",
              date_format: false,
              required: false,
            }
          - {
              label: "Ending Time",
              name: "endingtime",
              widget: "datetime",
              time_format: "HH:mm",
              default: "{{now}}",
              date_format: false,
              required: false,
            }

          - { label: "Topic", name: "topic", widget: "string", required: false }
  - label: Reference Centers
    name: refcenters
    folder: nuxt-app/content/laboratories
    create: true
    identifier_field: name
    fields:
      - { label: "Institution", name: "name", widget: "string", required: true }
      - { label: "Longitude", name: "lng", widget: "string", required: true }
      - { label: "Latitude", name: "lat", widget: "string", required: true }
      - { label: "Country", name: "country", widget: "string", required: true }
      - { label: "City", name: "city", widget: "string", required: true }
      - { label: "Logo", name: "logo", widget: "image", required: false }
      - {
          label: "Description",
          name: "description",
          widget: "markdown",
          required: false,
        }
  # - label: Gallery
  #   name: gallery
  #   folder: nuxt-app/content/gallery
  #   media_folder: /nuxt-app/public/assets/gallery 
  #   public_folder: /assets/gallery
  #   create: true
  #   identifier_field: title
  #   fields:
  #     - { label: "Title", name: "title", widget: "string", required: true }
  #     - label: "Image"
  #       name: "galleryImages"
  #       widget: "list"
  #       summary: '{{fields.image}}'
  #       field: {label: Image, name: image, widget: image}
  - label: Pages and Settings
    name: pages
    media_folder: /nuxt-app/public/assets/general
    public_folder: /assets/general
    files:
      - label: "Home"
        name: "home"
        file: "nuxt-app/public/data/pages/index.yml"
        fields:
          - { label: "Title", name: "title", widget: "string", required: true }
          - {
              label: "Description",
              name: "description",
              widget: "markdown",
              required: false,
            }
          - {
              label: "Featured Image",
              name: "thumbnail",
              widget: "image",
              required: false,
            }
      - label: "About"
        name: "about"
        file: "nuxt-app/public/data/pages/about.yml"
        fields:
          - {
              label: "Title1",
              name: "title1",
              widget: "string",
              required: true,
            }
          - {
              label: "Description1",
              name: "description1",
              widget: "markdown",
              required: false,
            }
          - {
              label: "Title2",
              name: "title2",
              widget: "string",
              required: true,
            }
          - {
              label: "Description2",
              name: "description2",
              widget: "markdown",
              required: false,
            }
          - {
              label: "Title3",
              name: "title3",
              widget: "string",
              required: true,
            }
          - {
              label: "Description3",
              name: "description3",
              widget: "markdown",
              required: false,
            }
          - {
              label: "Title4",
              name: "title4",
              widget: "string",
              required: true,
            }
          - {
              label: "Description4",
              name: "description4",
              widget: "markdown",
              required: false,
            }
      - label: "Contact"
        name: "contact"
        file: "nuxt-app/public/data/pages/contact.yml"
        fields:
          - { label: "Title", name: "title", widget: "string", required: true }
          - {
              label: "Description",
              name: "description",
              widget: "markdown",
              required: false,
            }
          - {
              label: "Featured Image",
              name: "thumbnail",
              widget: "image",
              required: false,
            }
  - label: Gallery
    name: gallery
    media_folder: /nuxt-app/public/assets/gallery 
    public_folder: /assets/gallery
    files:
      - label: "Gallery"
        name: "gallery"
        file: "nuxt-app/content/gallery.yml"
        media_folder: /nuxt-app/public/assets/gallery 
        public_folder: /assets/gallery
        fields:
          - { label: "Title", name: "title", widget: "string", required: true }
          - label: "Pictures"
            name: "pictureList"
            widget: "list"
            fields:
              - {
                  label: "image",
                  name: "image",
                  widget: "image",
                  required: false,
                }
